<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3">
    <div class="container">
        <a class="navbar-brand font-heading fs-3" href="#">
            <span class="text-theme-green">LEED</span> PROJECTS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto font-body text-uppercase small" style="letter-spacing: 2px;">
                <li class="nav-item mx-2"><a class="nav-link" href="#hero-root">Home</a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="#about-root">About</a></li>
                <li class="nav-item mx-2"><a class="nav-link" href="#services-root">Services</a></li>
                <li class="nav-item mx-2"><a class="nav-link btn btn-primary-theme text-white py-1 px-3 mt-1 mt-lg-0" href="#">Consult</a></li>
            </ul>
        </div>
    </div>
</nav>
